extends layout

block content
    h1= title
    p Welkom op mijn #{title}
    div(class='container')
        div(class='row')
            div(class='col-sm-3')
                h1 Weerbericht voor: #{weerbericht.name}
            div(class='col-sm-3')
                h2 Temperatuur: #{weerbericht.main.temp-272.150}
                ul
                    li Min: #{weerbericht.main.temp_min-272.150}
                    li Max: #{weerbericht.main.temp_max-272.150}
                h2 Luchtdruk #{weerbericht.main.pressure}
                h2 Luchtvochtigheid #{weerbericht.main.humidity}


